package {{.Name}}

import (
	"testing"
)

func TestHandler_List(t *testing.T) {
	// TODO: Implement handler test
	t.Skip("Not implemented")
}

func TestHandler_Get(t *testing.T) {
	// TODO: Implement handler test
	t.Skip("Not implemented")
}

func TestHandler_Create(t *testing.T) {
	// TODO: Implement handler test
	t.Skip("Not implemented")
}
