package {{.Name}}

import (
	"testing"
)

func TestRepository_List(t *testing.T) {
	// TODO: Implement repository test with test database
	t.Skip("Not implemented")
}

func TestRepository_GetByID(t *testing.T) {
	// TODO: Implement repository test with test database
	t.Skip("Not implemented")
}

func TestRepository_Create(t *testing.T) {
	// TODO: Implement repository test with test database
	t.Skip("Not implemented")
}
