package {{.Name}}

import (
	"testing"
)

func TestService_List(t *testing.T) {
	// TODO: Implement service test
	t.Skip("Not implemented")
}

func TestService_GetByID(t *testing.T) {
	// TODO: Implement service test
	t.Skip("Not implemented")
}

func TestService_Create(t *testing.T) {
	// TODO: Implement service test
	t.Skip("Not implemented")
}
